<!DOCTYPE HTML>

<html class="u-maximize-height" dir="ltr" lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://design.smart.coop/css/main.css">
        <link rel="stylesheet" href="https://design.smart.coop/css/prototype.css">
        <link rel="stylesheet" href="https://design.smart.coop/css/styleguide-customizations.css">
    </head>
    <body class="u-maximize-height">
        <div class="br-sample-content">
            Button primary
            <br>
            <button class="c-button c-button--primary">
                <span class="c-button__content">
                    Button primary
                </span>
            </button>
            <br>
        </div>
        <div class="br-sample-content">
            Button primary
            <br>
            <button class="c-button c-button--primary" disabled="disabled">
                <span class="c-button__content">
                    Button primary
                </span>
            </button>
            <br>
        </div>
        <div class="br-sample-content">
            Button secondary
            <br>
            <button class="c-button c-button--secondary">
                <span class="c-button__content">
                    Button secondary
                </span>
            </button>
            <br>
        </div>
        <div class="br-sample-content">
            Button secondary
            <br>
            <button class="c-button c-button--secondary" disabled="disabled">
                <span class="c-button__content">
                    Button secondary
                </span>
            </button>
            <br>
        </div>
        <div class="br-sample-content">
            Button danger secondary
            <br>
            <button class="c-button c-button--danger-secondary">
                <span class="c-button__content">
                    Button danger secondary
                </span>
            </button>
            <br>
        </div>
        <div class="br-sample-content">
            Button danger
            <br>
            <button class="c-button c-button--danger">
                <span class="c-button__content">
                    Button danger
                </span>
            </button>
            <br>
        </div>
        <div class="br-sample-content">
            Button secondary icon + text
            <br>
            <button class="c-button c-button--secondary">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M16.2929 2.29289C16.6834 1.90237 17.3166 1.90237 17.7071 2.29289L21.7071 6.29289C22.0976 6.68342 22.0976 7.31658 21.7071 7.70711L8.70711 20.7071C8.51957 20.8946 8.26522 21 8 21H4C3.44772 21 3 20.5523 3 20V16C3 15.7348 3.10536 15.4804 3.29289 15.2929L13.2927 5.2931L16.2929 2.29289ZM14 7.41421L5 16.4142V19H7.58579L16.5858 10L14 7.41421ZM18 8.58579L19.5858 7L17 4.41421L15.4142 6L18 8.58579Z" fill="#595959" />
                </svg>
                <span class="c-button__content">
                    Button secondary icon + text
                </span>
            </button>
            <br>
        </div>
        <div class="br-sample-content">
            Button secondary text + icon
            <br>
            <button class="c-button c-button--secondary">
                <span class="c-button__content">
                    Button secondary text + icon
                </span>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M9.29289 18.7071C8.90237 18.3166 8.90237 17.6834 9.29289 17.2929L14.5858 12L9.29289 6.70711C8.90237 6.31658 8.90237 5.68342 9.29289 5.29289C9.68342 4.90237 10.3166 4.90237 10.7071 5.29289L16.7071 11.2929C17.0976 11.6834 17.0976 12.3166 16.7071 12.7071L10.7071 18.7071C10.3166 19.0976 9.68342 19.0976 9.29289 18.7071Z" fill="#595959" />
                </svg>
            </button>
            <br>
        </div>
        <div class="br-sample-content">
            Button borderless
            <br>
            <button class="c-button c-button--borderless">
                <span class="c-button__content">
                    Button borderless
                </span>
            </button>
            <br>
        </div>
        <div class="br-sample-content">
            Button with just an icon
            <br>
            <button class="c-button c-button--secondary">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M12 4C12.5523 4 13 4.44771 13 5V11H19C19.5523 11 20 11.4477 20 12C20 12.5523 19.5523 13 19 13H13V19C13 19.5523 12.5523 20 12 20C11.4477 20 11 19.5523 11 19V13H5C4.44772 13 4 12.5523 4 12C4 11.4477 4.44772 11 5 11H11V5C11 4.44771 11.4477 4 12 4Z" fill="#595959" />
                </svg>
            </button>
            <br>
        </div>
        <script src="https://design.smart.coop/js/bundle-prototype.js">
        </script>
        <script src="https://design.smart.coop/js/bundle-client.js">
        </script>
    </body>
</html>
