<!DOCTYPE HTML>

<html class="u-maximize-height" dir="ltr" lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://design.smart.coop/css/main.css">
        <link rel="stylesheet" href="https://design.smart.coop/css/prototype.css">
        <link rel="stylesheet" href="https://design.smart.coop/css/styleguide-customizations.css">
    </head>
    <body class="u-maximize-height">
        <div class="br-sample-content">
            <div class="c-card">
                <div class="c-card__body">
                    <h4 class="c-card__title">
                        Card title
                    </h4>
                    <p class="u-text-muted">
                        Some subtext
                    </p>
                </div>
            </div>
        </div>
        <div class="br-sample-content">
            <div class="c-card">
                <div class="c-card__body">
                    <div class="c-avatar c-avatar--small ">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path d="M12 4C9.79086 4 8 5.79086 8 8C8 10.2091 9.79086 12 12 12C14.2091 12 16 10.2091 16 8C16 5.79086 14.2091 4 12 4ZM6 8C6 4.68629 8.68629 2 12 2C15.3137 2 18 4.68629 18 8C18 11.3137 15.3137 14 12 14C8.68629 14 6 11.3137 6 8ZM8 18C6.34315 18 5 19.3431 5 21C5 21.5523 4.55228 22 4 22C3.44772 22 3 21.5523 3 21C3 18.2386 5.23858 16 8 16H16C18.7614 16 21 18.2386 21 21C21 21.5523 20.5523 22 20 22C19.4477 22 19 21.5523 19 21C19 19.3431 17.6569 18 16 18H8Z" fill="#595959" />
                        </svg>
                        <div class="c-avatar-and-text__text">
                            <h4 class="c-h4">
                                John Doe
                            </h4>
                            <p class="u-text-muted">
                                Backend engineer
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="br-sample-content">
            <a href="#" class="c-card">
                <div class="c-card__body">
                    <img src="https://via.placeholder.com/1600x900">
                    <div class="c-card-body">
                        <h4 class="c-card__title">
                            Card title
                        </h4>
                        <p class="u-text-muted">
                            Subtext
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <script src="https://design.smart.coop/js/bundle-prototype.js">
        </script>
        <script src="https://design.smart.coop/js/bundle-client.js">
        </script>
    </body>
</html>
