<!DOCTYPE HTML>

<html class="u-maximize-height" dir="ltr" lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://design.smart.coop/css/main.css">
        <link rel="stylesheet" href="https://design.smart.coop/css/prototype.css">
        <link rel="stylesheet" href="https://design.smart.coop/css/styleguide-customizations.css">
    </head>
    <body class="u-maximize-height">
        <h1>
            Pending file uploads
        </h1>
        <div class="br-sample-content">
            <div class="c-file-upload">
                <input type="file">
                <div class="c-file-upload__content">
                    <button class="c-button c-button--secondary">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path d="M12 4C12.5523 4 13 4.44771 13 5V11H19C19.5523 11 20 11.4477 20 12C20 12.5523 19.5523 13 19 13H13V19C13 19.5523 12.5523 20 12 20C11.4477 20 11 19.5523 11 19V13H5C4.44772 13 4 12.5523 4 12C4 11.4477 4.44772 11 5 11H11V5C11 4.44771 11.4477 4 12 4Z" fill="#595959" />
                        </svg>
                        <span class="c-button__content">
                            Select file
                        </span>
                    </button>
                    <p>
                        Or drag a file into this area.
                    </p>
                </div>
            </div>
        </div>
        <div class="br-sample-content">
            <div class="c-file-upload c-file-upload--gray-25">
                <input type="file">
                <div class="c-file-upload__content">
                    <p>
                        Drag a file into this area.
                    </p>
                </div>
            </div>
        </div>
        <h1>
            Done file uploads
        </h1>
        <div class="br-sample-content">
            <div class="c-file-upload">
                <input type="file" disabled="disabled">
                <div class="c-file-upload__content">
                    <div class="c-file-upload__status">
                        Uploading your file...
                    </div>
                    <div class="c-progress-bar" style="--value: 0.8">
                    </div>
                    <p>
                    </p>
                </div>
            </div>
        </div>
        <div class="br-sample-content">
            <div class="c-file-upload">
                <input type="file" disabled="disabled">
                <div class="c-file-upload__content">
                    <div class="c-file-upload__status">
                        Done!
                    </div>
                    <div class="c-progress-bar c-progress-bar--success" style="--value: 1.0">
                    </div>
                    <p>
                    </p>
                </div>
            </div>
        </div>
        <div class="br-sample-content">
            <div class="c-file-upload">
                <input type="file" disabled="disabled">
                <div class="c-file-upload__content">
                    <div class="c-file-upload__status">
                        Failed to upload files.
                    </div>
                    <button class="c-button c-button--danger-secondary">
                        <span class="c-button__content">
                            Retry
                        </span>
                    </button>
                    <p>
                    </p>
                </div>
            </div>
        </div>
        <script src="https://design.smart.coop/js/bundle-prototype.js">
        </script>
        <script src="https://design.smart.coop/js/bundle-client.js">
        </script>
    </body>
</html>
