<!DOCTYPE HTML>

<html class="u-maximize-height" dir="ltr" lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://design.smart.coop/css/main.css">
        <link rel="stylesheet" href="https://design.smart.coop/css/prototype.css">
        <link rel="stylesheet" href="https://design.smart.coop/css/styleguide-customizations.css">
    </head>
    <body class="u-maximize-height">
        <header>
            <div class="o-container">
                <div class="c-navbar c-navbar--bordered-bottom c-navbar--main">
                    <div class="c-toolbar">
                        <div class="c-toolbar__left">
                            <div class="c-toolbar__item">
                                <div class="c-brand c-brand--small">
                                    <a href="/">
                                        <img src="https://design.smart.coop/images/logo.svg" alt="Smart">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="c-toolbar__right">
                            <div class="c-toolbar__item">
                                <nav>
                                    <ul class="c-pill-navigation">
                                        <li class="c-pill-navigation__item">
                                            <a href="/components/">
                                                Components
                                            </a>
                                        </li>
                                        <li class="c-pill-navigation__item">
                                            <a href="/layouts/">
                                                Layouts
                                            </a>
                                        </li>
                                        <li class="c-pill-navigation__item">
                                            <a href="/old/">
                                                Old
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <div class="o-container o-container--medium">
                <div class="o-container-vertical">
                    <div class="c-display">
                        <h1>
                            Components
                        </h1>
                        <ul>
                            <li>
                                <a href="/components/accordions.html">
                                    Accordions
                                </a>
                            </li>
                            <li>
                                <a href="/components/alert-stacks.html">
                                    Alert stacks
                                </a>
                            </li>
                            <li>
                                <a href="/components/alerts.html">
                                    Alerts
                                </a>
                            </li>
                            <li>
                                <a href="/components/bordered-lists.html">
                                    Bordered lists
                                </a>
                            </li>
                            <li>
                                <a href="/components/brands.html">
                                    Brands
                                </a>
                            </li>
                            <li>
                                <a href="/components/button-toolbars.html">
                                    Button toolbars
                                </a>
                            </li>
                            <li>
                                <a href="/components/buttons.html">
                                    Buttons
                                </a>
                            </li>
                            <li>
                                <a href="/components/cards.html">
                                    Cards
                                </a>
                            </li>
                            <li>
                                <a href="/components/file-attachments.html">
                                    File attachments
                                </a>
                            </li>
                            <li>
                                <a href="/components/file-uploads.html">
                                    File uploads
                                </a>
                            </li>
                            <li>
                                <a href="/components/forms.html">
                                    Form groups
                                </a>
                            </li>
                            <li>
                                <a href="/components/global-banners.html">
                                    Global banners
                                </a>
                            </li>
                            <li>
                                <a href="/components/icon-lists.html">
                                    Icon lists
                                </a>
                            </li>
                            <li>
                                <a href="/components/key-values.html">
                                    Key values
                                </a>
                            </li>
                            <li>
                                <a href="/components/loaders.html">
                                    Loaders
                                </a>
                            </li>
                            <li>
                                <a href="/components/navbars.html">
                                    Navbars
                                </a>
                            </li>
                            <li>
                                <a href="/components/panels.html">
                                    Panels
                                </a>
                            </li>
                            <li>
                                <a href="/components/radio-groups.html">
                                    Radio groups
                                </a>
                            </li>
                            <li>
                                <a href="/components/rulers.html">
                                    Rulers
                                </a>
                            </li>
                            <li>
                                <a href="/components/side-menus.html">
                                    Side menus
                                </a>
                            </li>
                            <li>
                                <a href="/components/slates.html">
                                    Slates
                                </a>
                            </li>
                            <li>
                                <a href="/components/status-pills.html">
                                    Status pills
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </main>
        <script src="https://design.smart.coop/js/bundle-prototype.js">
        </script>
        <script src="https://design.smart.coop/js/bundle-client.js">
        </script>
    </body>
</html>
