<!DOCTYPE HTML>

<html class="u-maximize-height" dir="ltr" lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://design.smart.coop/css/main.css">
        <link rel="stylesheet" href="https://design.smart.coop/css/prototype.css">
        <link rel="stylesheet" href="https://design.smart.coop/css/styleguide-customizations.css">
    </head>
    <body class="u-maximize-height">
        <div class="br-sample-content">
            <div class="o-form-group-layout o-form-group-layout--standard">
                <div class="o-form-group">
                    <label class="o-form-group__label">
                        Normal radio group
                    </label>
                    <div class="o-form-group__controls">
                        <div class="c-radio-group">
                            <div class="c-radio">
                                <label>
                                    <input type="radio" name="Name 0">
                                    Title 0
                                </label>
                            </div>
                            <div class="c-radio">
                                <label>
                                    <input type="radio" name="Name 1">
                                    Title 1
                                </label>
                            </div>
                            <div class="c-radio">
                                <label>
                                    <input type="radio" name="Name 2">
                                    Title 2
                                </label>
                            </div>
                            <div class="c-radio">
                                <label>
                                    <input type="radio" name="Name 3">
                                    Title 3
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="br-sample-content">
            <div class="o-form-group-layout o-form-group-layout--standard">
                <div class="o-form-group">
                    <label class="o-form-group__label">
                        Inline radio group
                    </label>
                    <div class="o-form-group__controls">
                        <div class="c-radio-group c-radio-group--inline">
                            <div class="c-radio">
                                <label>
                                    <input type="radio" name="Name 0">
                                    Title 0
                                </label>
                            </div>
                            <div class="c-radio">
                                <label>
                                    <input type="radio" name="Name 1">
                                    Title 1
                                </label>
                            </div>
                            <div class="c-radio">
                                <label>
                                    <input type="radio" name="Name 2">
                                    Title 2
                                </label>
                            </div>
                            <div class="c-radio">
                                <label>
                                    <input type="radio" name="Name 3">
                                    Title 3
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://design.smart.coop/js/bundle-prototype.js">
        </script>
        <script src="https://design.smart.coop/js/bundle-client.js">
        </script>
    </body>
</html>
