<!DOCTYPE HTML>

<html class="u-maximize-height" dir="ltr" lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://design.smart.coop/css/main.css">
        <link rel="stylesheet" href="https://design.smart.coop/css/prototype.css">
        <link rel="stylesheet" href="https://design.smart.coop/css/styleguide-customizations.css">
    </head>
    <body class="u-maximize-height">
        <div class="br-sample-content">
            <span class="c-status-pill c-status-pill--default">
                <span class="c-status-pill__circle">
                </span>
                <span class="c-status-pill__label">
                    Default
                </span>
            </span>
        </div>
        <div class="br-sample-content">
            <span class="c-status-pill c-status-pill--pending">
                <span class="c-status-pill__circle">
                </span>
                <span class="c-status-pill__label">
                    Pending
                </span>
            </span>
        </div>
        <div class="br-sample-content">
            <span class="c-status-pill c-status-pill--success">
                <span class="c-status-pill__circle">
                </span>
                <span class="c-status-pill__label">
                    Success
                </span>
            </span>
        </div>
        <div class="br-sample-content">
            <span class="c-status-pill c-status-pill--danger">
                <span class="c-status-pill__circle">
                </span>
                <span class="c-status-pill__label">
                    Danger
                </span>
            </span>
        </div>
        <div class="br-sample-content">
            <span class="c-status-pill c-status-pill--warning">
                <span class="c-status-pill__circle">
                </span>
                <span class="c-status-pill__label">
                    Warning
                </span>
            </span>
        </div>
        <script src="https://design.smart.coop/js/bundle-prototype.js">
        </script>
        <script src="https://design.smart.coop/js/bundle-client.js">
        </script>
    </body>
</html>
