<!DOCTYPE HTML>

<html class="u-maximize-height" dir="ltr" lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://design.smart.coop/css/main.css">
        <link rel="stylesheet" href="https://design.smart.coop/css/prototype.css">
        <link rel="stylesheet" href="https://design.smart.coop/css/styleguide-customizations.css">
    </head>
    <body class="u-maximize-height">
        <header>
            <div class="o-container">
                <div class="c-navbar c-navbar--bordered-bottom c-navbar--main">
                    <div class="c-toolbar">
                        <div class="c-toolbar__left">
                            <div class="c-toolbar__item">
                                <div class="c-brand c-brand--small">
                                    <a href="/">
                                        <img src="https://design.smart.coop/images/logo.svg" alt="Smart">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="c-toolbar__right">
                            <div class="c-toolbar__item">
                                <nav>
                                    <ul class="c-pill-navigation">
                                        <li class="c-pill-navigation__item">
                                            <a href="/components/">
                                                Components
                                            </a>
                                        </li>
                                        <li class="c-pill-navigation__item">
                                            <a href="/layouts/">
                                                Layouts
                                            </a>
                                        </li>
                                        <li class="c-pill-navigation__item">
                                            <a href="/old/">
                                                Old
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <div class="o-container o-container--medium">
                <div class="o-container-vertical">
                    <div class="c-display">
                        <h1>
                            Layouts
                        </h1>
                        <ul>
                            <li>
                                <a href="/layouts/empty.html">
                                    Empty page
                                </a>
                            </li>
                            <li>
                                <a href="/layouts/main-header-website.html">
                                    Main header (website)
                                </a>
                            </li>
                            <li>
                                <a href="/layouts/main-header.html">
                                    Main header (application)
                                </a>
                            </li>
                            <li>
                                <a href="/layouts/404-website.html">
                                    404 Not found (website)
                                </a>
                            </li>
                            <li>
                                <a href="/layouts/404.html">
                                    404 Not found (application)
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </main>
        <script src="https://design.smart.coop/js/bundle-prototype.js">
        </script>
        <script src="https://design.smart.coop/js/bundle-client.js">
        </script>
    </body>
</html>
