<!DOCTYPE HTML>

<html class="u-maximize-height" dir="ltr" lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://design.smart.coop/css/main.css">
        <link rel="stylesheet" href="https://design.smart.coop/css/prototype.css">
        <link rel="stylesheet" href="https://design.smart.coop/css/styleguide-customizations.css">
    </head>
    <body class="u-maximize-height">
        <header>
            <div class="o-container">
                <div class="c-navbar c-navbar--bordered-bottom c-navbar--main">
                    <div class="c-toolbar">
                        <div class="c-toolbar__left">
                            <div class="c-toolbar__item">
                                <div class="c-brand c-brand--small">
                                    <a href="/">
                                        <img src="https://design.smart.coop/images/logo.svg" alt="Smart">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="c-toolbar__right">
                            <div class="c-toolbar__item">
                                <nav>
                                    <ul class="c-pill-navigation">
                                        <li class="c-pill-navigation__item c-pill-navigation__item--has-child-menu">
                                            <button type="button" data-menu="subMenu-1" data-menu-samewidth="true">
                                                Design
                                            </button>
                                            <ul class="c-menu c-menu--large" id="subMenu-1">
                                                <li class="c-menu__item">
                                                    <a class="c-menu__label" href="#">
                                                        Nav item
                                                    </a>
                                                </li>
                                                <li class="c-menu__item">
                                                    <a class="c-menu__label" href="#">
                                                        Nav item
                                                    </a>
                                                </li>
                                                <li class="c-menu__item">
                                                    <a class="c-menu__label" href="#">
                                                        Nav item
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="c-pill-navigation__item c-pill-navigation__item--has-child-menu">
                                            <button type="button" data-menu="subMenu-2" data-menu-samewidth="true">
                                                Development
                                            </button>
                                            <ul class="c-menu c-menu--large" id="subMenu-2">
                                                <li class="c-menu__item">
                                                    <a class="c-menu__label" href="#">
                                                        Nav item
                                                    </a>
                                                </li>
                                                <li class="c-menu__item">
                                                    <a class="c-menu__label" href="#">
                                                        Nav item
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="c-pill-navigation__item">
                                            <a href="#">
                                                Components
                                            </a>
                                        </li>
                                        <li class="c-pill-navigation__item">
                                            <a href="#">
                                                Blog
                                            </a>
                                        </li>
                                        <li class="c-pill-navigation__item">
                                            <a href="#">
                                                Changelog
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <script src="https://design.smart.coop/js/bundle-prototype.js">
        </script>
        <script src="https://design.smart.coop/js/bundle-client.js">
        </script>
    </body>
</html>
